* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  color: #333333;
  font-size: 36px;
  line-height: 44px;
}

h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

input[type="text"]::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #A5A5A5;
}

input[type="text"]:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #A5A5A5;
}

input[type="text"]::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #A5A5A5;
}

input[type="text"]::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #A5A5A5;
}

html body {
  font-family: 'Lato', sans-serif;
  background: #E5E5E5;
}

html body .header {
  padding-top: 33px;
  margin-bottom: 136px;
}

html body .header .container {
  padding-bottom: 30px;
  border-bottom: 1px solid #E7E8EA;
}

html body .header .container .row {
  position: relative;
}

html body .header .container .row .header__left-side .header__logo {
  padding-bottom: 10px;
}

html body .header .container .row .header__left-side .header__catalog {
  font-family: 'Lato', sans-serif;
  border: 1px solid #A5A5A5;
  margin-left: 54px;
  border-radius: 5px;
  background: #E5E5E5;
  padding: 12px 27px 14px 20px;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .header .container .row .header__left-side .header__catalog .header__text {
  padding-right: 6px;
}

html body .header .container .row .header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .header .container .row .header__right-side .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 10px;
}

html body .header .container .row .header__right-side .header__list .header__item {
  margin-right: 33px;
  text-align: center;
}

html body .header .container .row .header__right-side .header__list .header__item:hover::after {
  position: absolute;
  content: '';
  width: 16%;
  height: 1px;
  background-color: #E30613;
  display: block;
  top: 160%;
}

html body .header .container .row .header__right-side .header__list .header__item .header__link {
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #79818C;
}

html body .header .container .row .header__right-side .header__list .header__item .header__link:hover {
  color: #333333;
}

html body .header .container .row .header__right-side .header__list .header__item-2:hover::after {
  width: 12%;
}

html body .header .container .row .header__right-side .header__list .header__item-3:hover::after {
  width: 8%;
}

html body .header .container .row .header__right-side .header__list .header__item-4:hover::after {
  width: 24%;
}

html body .header .container .row .header__right-side .header__enter {
  font-family: 'Lato', sans-serif;
  background: #E30613;
  border-radius: 5px;
  padding: 12px 20px 14px 20px;
  border: 0px;
  display: inline;
}

html body .header .container .row .header__right-side .header__enter .header__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

html body .rise .container .row .col-md-8 .rise__title {
  font-size: 48px;
  line-height: 50px;
}

html body .rise .container .row .col-md-4 .rise__wrapper .rice__pic {
  width: 100%;
}

html body .variables {
  background: white;
  margin-bottom: 60px;
}

html body .variables .container .row .col .variables__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .variables .container .row .col .variables__list .variables__item {
  list-style: none;
}

html body .variables .container .row .col .variables__list .variables__item .variables__text {
  margin-top: 37px;
}

html body .variables .container .row .col .variables__list .variables__item:last-child {
  max-width: 234px;
}

html body .variables .container .row .col .variables__list .variables__item-5 .variables__text:last-child {
  margin-top: 15px;
}

html body .skills {
  margin-bottom: 60px;
}

html body .skills .container .row .col-md-6 .skills__title {
  font-size: 36px;
  line-height: 44px;
  color: #333333;
  margin-bottom: 52px;
}

html body .skills .container .row .col-md-6 .skills__offer {
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 33px 33px 33px 44px;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head .skills__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head .skills__name .skills__plug {
  display: block;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head .skills__pic {
  position: relative;
  background: #E30613;
  height: 65px;
  width: 67px;
  border-radius: 5px;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head .skills__pic .skills__icon {
  margin-left: 20px;
  margin-top: 15px;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head .skills__pic .skills__number {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: white;
  margin-left: 11px;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #A5A5A5;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__record {
  text-decoration: none;
}

html body .skills .container .row .col-md-6 .skills__outset {
  margin-top: 18px;
  margin-bottom: 55px;
  text-align: right;
}

html body .skills .container .row .col-md-6 .skills__outset .skills__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #CDCDCD;
}

html body .retraining .container .row {
  margin-bottom: 52px;
}

html body .retraining .container .row .col-md-7 .retraining__title {
  font-size: 36px;
  line-height: 44px;
}

html body .retraining .container .retraining__row-2 .col-md-4 .retraining__item {
  border: 1px solid #A5A5A5;
  border-radius: 5px;
  padding: 38px 0px 35px 32px;
}

html body .retraining .container .retraining__row-2 .col-md-4 .retraining__item .retraining__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 18px;
}

html body .retraining .container .retraining__row-2 .col-md-4 .retraining__item .retraining__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #A5A5A5;
  margin-bottom: 24px;
}

html body .retraining .container .retraining__row-2 .col-md-4 .retraining__item .retraining__more {
  border: 1px solid #A5A5A5;
  border-radius: 5px;
  padding: 13px 19px;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .retraining .container .retraining__row-2 .col-md-4 .retraining__item .retraining__more:hover {
  border: 1px solid #336FEF;
  color: #336FEF;
}

html body .teaching {
  margin-bottom: 96px;
}

html body .teaching .container .row .col-md-7 .teaching__title {
  font-size: 36px;
  line-height: 44px;
  color: #333333;
}

html body .teaching .container .row .col-md-6 .teaching__item .teaching__pic {
  background: #ECF1F7;
  width: 200px;
  height: 195px;
}

html body .teaching .container .row .col-md-6 .teaching__item .teaching__info {
  padding: 37px 0px 0px 24px;
  background: white;
  padding-right: 137px;
}

html body .teaching .container .row .col-md-6 .teaching__item .teaching__info .teaching__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

html body .teaching .container .row .col-md-6 .teaching__item .teaching__info .teaching__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .teaching .container .row .col-md-6 .teaching__item .teaching__info .teaching__more {
  font-size: 16px;
  line-height: 19px;
  color: #336FEE;
  border: 0px;
  border-radius: 5px;
  padding: 13px 19px;
}

html body .teaching .container .teaching__row-2 {
  margin-top: 52px;
  margin-bottom: 28px;
}

html body .systemic {
  background-color: white;
  position: relative;
  padding-bottom: 118px;
}

html body .systemic .container .row .col-md-7 .systemic__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}

html body .systemic .container .systemic__row-1 {
  padding-top: 71px;
  margin-bottom: 55px;
}

html body .systemic .container .systemic__row-2 .col {
  position: static;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel {
  position: static;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 6%;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 6%;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .item .systemic__wrapper {
  height: 487px;
  background: #F6F6F6;
  border-radius: 5px;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .item .systemic__wrapper .systemic__pic {
  background: #D2D2D2;
  border-radius: 5px 5px 0px 0px;
  max-height: 340px;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .item .systemic__wrapper .systemic__info {
  max-height: 115px;
  padding: 48px 0px 54px 30px;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .item .systemic__wrapper .systemic__info .systemic__text {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

html body .trust {
  background-color: white;
  padding-bottom: 120px;
}

html body .trust .container .row .col {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .trust .container .trust__row-1 {
  padding-bottom: 70px;
}

html body .trust .container .trust__row-2 {
  padding-bottom: 63px;
}

html body .useful {
  background: white;
  padding-bottom: 97px;
}

html body .useful .container .useful__row-1 {
  padding-bottom: 51px;
}

html body .useful .container .useful__row-1 .useful__outset {
  text-align: right;
  padding-top: 15px;
}

html body .useful .container .useful__row-1 .useful__outset a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .useful .container .useful__row-2 .col-md-4 .useful__item {
  background: #F6F6F6;
}

html body .useful .container .useful__row-2 .col-md-4 .useful__item .useful__info {
  padding: 30px 0px 0px 12px;
}

html body .useful .container .useful__row-2 .col-md-4 .useful__item .useful__info .useful__rank {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .useful .container .useful__row-2 .col-md-4 .useful__item .useful__photo {
  width: 100%;
}

html body .help {
  background: #F2F4F3;
  position: relative;
}

html body .help .container .row .help__left .help__info {
  padding-top: 93px;
  padding-bottom: 88px;
}

html body .help .container .row .help__left .help__info .help__title {
  font-size: 48px;
  line-height: 58px;
  color: #333333;
}

html body .help .container .row .help__left .help__info .help__subtitle {
  font-size: 16px;
  line-height: 145.5%;
  color: #A5A5A5;
}

html body .help .container .row .help__left .help__info .help__form {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  background: #F2F4F3;
  border-bottom: 1px solid #A5A5A5;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #A5A5A5;
  padding-bottom: 13px;
}

html body .help .container .row .help__left .help__info .help__form-name {
  width: 100%;
}

html body .help .container .row .help__left .help__info .help__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 45px;
}

html body .help .container .row .help__left .help__info .help__contact .help__form-email {
  width: 48%;
}

html body .help .container .row .help__left .help__info .help__contact .help__form-nubmer {
  width: 48%;
}

html body .help .container .row .help__left .help__info .help__interplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .help .container .row .help__left .help__info .help__interplay .help__politic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .help .container .row .help__left .help__info .help__interplay .help__politic .help__text {
  margin-left: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 145.5%;
  color: #A5A5A5;
}

html body .help .container .row .help__left .help__info .help__interplay .help__send {
  border: 0;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 13px 31px;
  background: #E30613;
  border-radius: 5px;
}

html body .help .container .row .help__right {
  position: static;
}

html body .help .container .row .help__right .help__photo {
  background: url("../img/help__female.jpg") no-repeat right top;
  width: 100%;
  height: 505px;
  position: absolute;
  right: 0;
  top: 0;
}

html body .efficent {
  border: 1px solid #E7E8EA;
}

html body .efficent .container .row {
  margin-top: 69px;
}

html body .efficent .container .row .col-md-5 .efficent__title {
  margin-bottom: 19px;
}

html body .efficent .container .row .col-md-5 .efficent__text {
  font-size: 16px;
  line-height: 24px;
  color: #A5A5A5;
}

html body .efficent .container .row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .efficent .container .row .col-md-6 .efficent__list {
  list-style: none;
}

html body .efficent .container .row .col-md-6 .efficent__list .efficent__item {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
  cursor: pointer;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

html body .efficent .container .row .col-md-6 .efficent__list .efficent__item:last-child {
  margin-bottom: 0px;
  max-width: 234px;
}

html body .efficent .container .row .col-md-6 .efficent__list .efficent__item:hover {
  color: #E63944;
}

html body .footer .container .row .col-md-6 .footer__social-media .footer__pic {
  margin-right: 22px;
}

html body .footer .container .footer__row-1 {
  margin-bottom: 30px;
}

html body .footer .container .footer__row-2 {
  padding-bottom: 38px;
}

html body .footer .container .footer__row-2 .col-md-6 .footer__right {
  margin-top: 10px;
}

html body .footer .container .footer__row-2 .col-md-6 .footer__right .footer__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .footer .container .footer__row-2 .col-md-6 .footer__right .footer__dot {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
  margin: 0px 17px;
}
/*# sourceMappingURL=style.css.map */