* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  color: #333333;
}

html body {
  font-family: 'Lato', sans-serif;
  background: #E5E5E5;
}

html body .header {
  padding-top: 33px;
  margin-bottom: 136px;
}

html body .header .container {
  padding-bottom: 30px;
  border-bottom: 1px solid #E7E8EA;
}

html body .header .container .row {
  position: relative;
}

html body .header .container .row .header__left-side .header__logo {
  padding-bottom: 10px;
}

html body .header .container .row .header__left-side .header__catalog {
  font-family: 'Lato', sans-serif;
  border: 1px solid #A5A5A5;
  margin-left: 54px;
  border-radius: 5px;
  background: #E5E5E5;
  padding: 12px 27px 14px 20px;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .header .container .row .header__left-side .header__catalog .header__text {
  padding-right: 6px;
}

html body .header .container .row .header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .header .container .row .header__right-side .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 10px;
}

html body .header .container .row .header__right-side .header__list .header__item {
  margin-right: 33px;
  text-align: center;
}

html body .header .container .row .header__right-side .header__list .header__item:hover::after {
  position: absolute;
  content: '';
  width: 16%;
  height: 1px;
  background-color: #E30613;
  display: block;
  top: 160%;
}

html body .header .container .row .header__right-side .header__list .header__item .header__link {
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #79818C;
}

html body .header .container .row .header__right-side .header__list .header__item .header__link:hover {
  color: #333333;
}

html body .header .container .row .header__right-side .header__list .header__item-2:hover::after {
  width: 12%;
}

html body .header .container .row .header__right-side .header__list .header__item-3:hover::after {
  width: 8%;
}

html body .header .container .row .header__right-side .header__list .header__item-4:hover::after {
  width: 24%;
}

html body .header .container .row .header__right-side .header__enter {
  font-family: 'Lato', sans-serif;
  background: #E30613;
  border-radius: 5px;
  padding: 12px 20px 14px 20px;
  border: 0px;
  display: inline;
}

html body .header .container .row .header__right-side .header__enter .header__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

html body .rise .container .row .col-md-8 .rise__title {
  font-size: 48px;
  line-height: 50px;
}

html body .rise .container .row .col-md-4 .rise__wrapper .rice__pic {
  width: 100%;
}

html body .variables {
  background: white;
  margin-bottom: 60px;
}

html body .variables .container .row .col-md-9 .variables__left {
  padding-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 23px;
}

html body .variables .container .row .col-md-9 .variables__left .variables__list {
  list-style: none;
}

html body .variables .container .row .col-md-9 .variables__left .variables__list .variables__item {
  padding-bottom: 37px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
  cursor: pointer;
}

html body .variables .container .row .col-md-9 .variables__left .variables__list .variables__item:hover {
  color: #333333;
}

html body .variables .container .row .col-md-3 .variables__list {
  padding-top: 60px;
  list-style: none;
}

html body .variables .container .row .col-md-3 .variables__list .variables__item {
  padding-bottom: 37px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .variables .container .row .col-md-3 .variables__list .variables__item:first-child {
  padding-bottom: 20px;
}

html body .variables .container .row .col-md-3 .variables__list .variables__item:hover {
  color: black;
}

html body .skills {
  margin-bottom: 60px;
}

html body .skills .container .row .col-md-6 .skills__title {
  font-size: 36px;
  line-height: 44px;
  color: #333333;
  margin-bottom: 52px;
}

html body .skills .container .row .col-md-6 .skills__offer {
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 33px 33px 33px 44px;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head .skills__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head .skills__name .skills__plug {
  display: block;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head .skills__pic {
  position: relative;
  background: #E30613;
  height: 65px;
  width: 67px;
  border-radius: 5px;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head .skills__pic .skills__icon {
  margin-left: 20px;
  margin-top: 15px;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__head .skills__pic .skills__number {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: white;
  margin-left: 11px;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #A5A5A5;
}

html body .skills .container .row .col-md-6 .skills__offer .skills__record {
  text-decoration: none;
}

html body .skills .container .row .col-md-6 .skills__outset {
  margin-top: 18px;
  margin-bottom: 55px;
  text-align: right;
}

html body .skills .container .row .col-md-6 .skills__outset .skills__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #CDCDCD;
}

html body .retraining .container .row {
  margin-bottom: 52px;
}

html body .retraining .container .row .col-md-7 .retraining__title {
  font-size: 36px;
  line-height: 44px;
}

html body .retraining .container .retraining__row-2 .col-md-4 .retraining__item {
  border: 1px solid #A5A5A5;
  border-radius: 5px;
  padding: 38px 0px 35px 32px;
}

html body .retraining .container .retraining__row-2 .col-md-4 .retraining__item .retraining__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 18px;
}

html body .retraining .container .retraining__row-2 .col-md-4 .retraining__item .retraining__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #A5A5A5;
  margin-bottom: 24px;
}

html body .retraining .container .retraining__row-2 .col-md-4 .retraining__item .retraining__more {
  border: 1px solid #A5A5A5;
  border-radius: 5px;
  padding: 13px 19px;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .retraining .container .retraining__row-2 .col-md-4 .retraining__item .retraining__more:hover {
  border: 1px solid #336FEF;
  color: #336FEF;
}

html body .teaching {
  margin-bottom: 96px;
}

html body .teaching .container .row .col-md-7 .teaching__title {
  font-size: 36px;
  line-height: 44px;
  color: #333333;
}

html body .teaching .container .row .col-md-6 .teaching__item .teaching__pic {
  background: #ECF1F7;
  width: 200px;
  height: 195px;
}

html body .teaching .container .row .col-md-6 .teaching__item .teaching__info {
  padding: 37px 0px 0px 24px;
  background: white;
  padding-right: 137px;
}

html body .teaching .container .row .col-md-6 .teaching__item .teaching__info .teaching__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

html body .teaching .container .row .col-md-6 .teaching__item .teaching__info .teaching__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .teaching .container .row .col-md-6 .teaching__item .teaching__info .teaching__more {
  font-size: 16px;
  line-height: 19px;
  color: #336FEE;
  border: 0px;
  border-radius: 5px;
  padding: 13px 19px;
}

html body .teaching .container .teaching__row-2 {
  margin-top: 52px;
  margin-bottom: 28px;
}

html body .systemic {
  background-color: white;
  position: relative;
}

html body .systemic .container .row .col-md-7 .systemic__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}

html body .systemic .container .systemic__row-1 {
  padding-top: 71px;
  margin-bottom: 55px;
}

html body .systemic .container .systemic__row-2 {
  margin-bottom: 55px;
}

html body .systemic .container .systemic__row-2 .col {
  position: static;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel {
  position: static;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 6%;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 6%;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .item .systemic__wrapper {
  height: 487px;
  background: #F6F6F6;
  border-radius: 5px;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .item .systemic__wrapper .systemic__pic {
  background: #D2D2D2;
  border-radius: 5px 5px 0px 0px;
  max-height: 340px;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .item .systemic__wrapper .systemic__info {
  max-height: 115px;
  padding: 48px 0px 54px 30px;
}

html body .systemic .container .systemic__row-2 .col .owl-carousel .item .systemic__wrapper .systemic__info .systemic__text {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
/*# sourceMappingURL=style.css.map */