* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

html body {
  font-family: 'Lato', sans-serif;
  background: #E5E5E5;
}

html body .header {
  padding-top: 33px;
  margin-bottom: 136px;
}

html body .header .container {
  padding-bottom: 30px;
  border-bottom: 1px solid #E7E8EA;
}

html body .header .container .row {
  position: relative;
}

html body .header .container .row .header__left-side .header__logo {
  padding-bottom: 10px;
}

html body .header .container .row .header__left-side .header__catalog {
  font-family: 'Lato', sans-serif;
  border: 1px solid #A5A5A5;
  margin-left: 54px;
  border-radius: 5px;
  background: #E5E5E5;
  padding: 12px 27px 14px 20px;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .header .container .row .header__left-side .header__catalog .header__text {
  padding-right: 6px;
}

html body .header .container .row .header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .header .container .row .header__right-side .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 10px;
}

html body .header .container .row .header__right-side .header__list .header__item {
  margin-right: 33px;
  text-align: center;
}

html body .header .container .row .header__right-side .header__list .header__item:hover::after {
  position: absolute;
  content: '';
  width: 16%;
  height: 1px;
  background-color: #E30613;
  display: block;
  top: 160%;
}

html body .header .container .row .header__right-side .header__list .header__item .header__link {
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #79818C;
}

html body .header .container .row .header__right-side .header__list .header__item .header__link:hover {
  color: #333333;
}

html body .header .container .row .header__right-side .header__list .header__item-2:hover::after {
  width: 12%;
}

html body .header .container .row .header__right-side .header__list .header__item-3:hover::after {
  width: 8%;
}

html body .header .container .row .header__right-side .header__list .header__item-4:hover::after {
  width: 24%;
}

html body .header .container .row .header__right-side .header__enter {
  font-family: 'Lato', sans-serif;
  background: #E30613;
  border-radius: 5px;
  padding: 12px 20px 14px 20px;
  border: 0px;
  display: inline;
}

html body .header .container .row .header__right-side .header__enter .header__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

html body .rise .container .row .col-md-8 .rise__title {
  font-size: 48px;
  line-height: 50px;
  color: #333333;
}

html body .rise .container .row .col-md-4 .rise__wrapper .rice__pic {
  width: 100%;
}

html body .variables {
  background: white;
}

html body .variables .container .row .variables__list {
  list-style: none;
}

html body .variables .container .row .variables__list .variables__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

html body .variables .container .variables__row-1 {
  padding-top: 60px;
  margin-bottom: 37px;
}

html body .variables .container .variables__row-1 .variables__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .variables .container .variables__row-2 {
  padding-bottom: 60px;
}

html body .variables .container .variables__row-2 .variables__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */