*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

.container{
    max-width:1200px;
    margin:0 auto;
}

html{
    body{
        font-family: 'Lato', sans-serif;
        background: #E5E5E5;
        .header{
            padding-top:33px;
            margin-bottom:136px;
            .container{
                padding-bottom:30px;
                border-bottom: 1px solid #E7E8EA;
                .row{
                    position:relative;
                    .header__left-side{
                        .header__logo{
                            padding-bottom:10px;
                        }
                        .header__catalog{
                            font-family: 'Lato', sans-serif;
                            border: 1px solid #A5A5A5;
                            margin-left:54px;
                            border-radius: 5px;
                            background: #E5E5E5;
                            padding:12px 27px 14px 20px;
                            font-size: 16px;
                            line-height: 19px;
                            color: #A5A5A5;
                            .header__text{
                                padding-right:6px;
                            }
                        }
                    }
                    .header__right-side{
                        display:flex;
                        align-items:center;
                        .header__list{
                            display:flex;
                            list-style:none;
                            margin-top:10px;
                            .header__item{
                                margin-right:33px;
                                text-align:center;
                                &:hover{
                                    &::after{
                                        position:absolute;
                                        content:'';
                                        width:16%;
                                        height:1px;
                                        background-color: #E30613;
                                        display:block;
                                        top:160%;
                                    }
                                }
                                .header__link{
                                    transition: .3s;
                                    text-align:center;
                                    text-decoration: none;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #79818C;
                                    &:hover{
                                        color: #333333;
                                    }
                                }
                            }
                            .header__item-2{
                                &:hover{
                                    &::after{
                                        width:12%;
                                    }
                                }
                            }
                            .header__item-3{
                                &:hover{
                                    &::after{
                                        width:8%;
                                    }
                                }
                            }
                            .header__item-4{
                                &:hover{
                                    &::after{    
                                        width:24%;
                                    }
                                }
                            }
                        }
                        .header__enter{
                            font-family: 'Lato', sans-serif;
                            background: #E30613;
                            border-radius: 5px;
                            padding:12px 20px 14px 20px;
                            border:0px;
                            display:inline;
                            .header__link{
                                color:white;
                                text-decoration:none;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 19px;
                            }
                        }
                    }
                }
            }
        }
        .rise{
            .container{
                .row{
                    .col-md-8{
                        .rise__title{
                            font-size: 48px;
                            line-height:50px;
                            color: #333333;
                        }
                    }
                    .col-md-4{
                        .rise__wrapper{
                            .rice__pic{
                                width:100%;
                            }
                        }
                    }
                }
            }
        }
        .variables{
            background:white;
            margin-bottom:60px;
            .container{
                .row{
                    .col-md-9{
                        .variables__left{
                            padding-top:60px;
                            justify-content: space-between;
                            padding-bottom:23px;
                            .variables__list{
                                list-style:none;
                                .variables__item{
                                    padding-bottom:37px;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #A5A5A5;
                                    &:hover{
                                        color:black;
                                    }
                                }
                            }
                        }
                    }
                    .col-md-3{
                        .variables__list{
                            padding-top:60px;
                            list-style:none;
                            .variables__item{
                                padding-bottom:37px;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 19px;
                                color: #A5A5A5;
                                &:first-child{
                                    padding-bottom:20px;
                                }
                                &:hover{
                                    color:black;
                                }
                            }
                        }
                    }
                }
            }
        }
        .skills{
            margin-bottom:60px;
            .container{
                .row{
                    .col-md-6{
                        .skills__title{
                            font-size: 36px;
                            line-height: 44px;
                            color: #333333;
                            margin-bottom:52px;
                        }
                        .skills__offer{
                            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
                            background-color:white;
                            padding:33px 33px 33px 44px;
                            .skills__head{
                                display:flex;
                                justify-content: space-between;
                                .skills__name{
                                    font-weight: 500;
                                    font-size: 24px;
                                    line-height: 29px;
                                    .skills__plug{
                                        display:block;
                                    }
                                }
                                .skills__pic{
                                    position:relative;
                                    background: #E30613;
                                    height:65px;
                                    width:67px;
                                    border-radius: 5px;
                                    .skills__icon{
                                        margin-left:20px;
                                        margin-top:15px;
                                    }
                                    .skills__number{
                                        font-weight: 500;
                                        font-size: 12px;
                                        line-height: 15px;
                                        color:white;
                                        margin-left:11px;
                                    }
                                }
                            }
                            .skills__text{
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 19px;
                                letter-spacing: 0.01em;
                                color: #A5A5A5;
                            }
                            .skills__record{
                                text-decoration:none;
                            }
                        }
                    }
                    .col-md-6{
                        .skills__outset{
                            margin-top:18px;
                            margin-bottom:55px;
                            text-align:right;
                            .skills__link{
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 19px;
                                color:#CDCDCD;
                            }
                        }
                    }
                }
            }
        }
        .retraining{
            .container{
                .row{
                    margin-bottom:52px;
                    .col-md-7{
                        .retraining__title{
                            font-size: 36px;
                            line-height: 44px;
                        }
                    }
                }
                .retraining__row-2{
                    .col-md-4{
                        .retraining__item{
                            border: 1px solid #A5A5A5;
                            border-radius: 5px;
                            padding:38px 0px 35px 32px;
                            .retraining__name{
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 22px;
                                margin-bottom:18px;
                            }
                            .retraining__text{
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 19px;
                                letter-spacing: 0.01em;
                                color: #A5A5A5;
                                margin-bottom:24px;
                            }
                            .retraining__more{
                                border: 1px solid #A5A5A5;
                                border-radius: 5px;
                                padding:13px 19px;
                                background:transparent;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 19px;
                                color: #A5A5A5;
                                &:hover{
                                    border: 1px solid #336FEF;
                                    color: #336FEF;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}